{% extends "_layout.html" %}
{% block content %}

<h1>User Profile: {{user.id}}</h1>
<img src="{{user.profile_image_path}}" />

<h4>Username: {{user.username}}</h4>
<h4>Email: {{user.email}}</h4>

{% for image in images %}
<div>
    <img src="{{image.full_image_url}}" width="200px" />
    <p>Donated Amount: {{image.donations_sum}}</p>
    {% for d in image.donations %}
    <li>{{d.user.id}}: {{d.amount}}</li>
    {% endfor %}
    <a href="{{url_for('donate.new', image_id=image.id)}}">Donate</a>
</div>
{% endfor %}

{% endblock %} 